---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - nick909">
    <h1 class="text-3xl font-bold animate__animated animate__fadeIn">404</h1>
    <p class="font-bold text-3xl py-2 animate__animated animate__fadeIn">The page you were looking for is not available</p>
    <a href="/" class="text-2xl animate__animated animate__fadeIn animate__delay-3s relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-lavender">Go back home</a>
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
	body {
		@apply flex h-screen;
		padding: 0 1.5rem 1.5rem 1.5rem;
		font-family: "Unbounded", sans-serif;
	}
</style>
