---
import Layout from "../layouts/Layout.astro";
---

<Layout title="history - nick909">
    <main class="animate__animated animate__fadeIn">
        <h1 class="font-bold text-3xl">work in progress 😊</h1>
    </main>
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
	body {
		@apply flex h-screen;
		padding: 0 1.5rem 1.5rem 1.5rem;
		font-family: "Unbounded", sans-serif;
	}
</style>
