---
import Layout from "../layouts/Layout.astro";
import * as Icon from "@astropub/icons";
const props = Astro.props;
---

<Layout title="socials - nick909">
    <main class="animate__animated animate__fadeIn">
        <h1 class="font-bold text-3xl py-2">socials</h1>
        <p>you can find me on everything that is listed here:</p>
        <ul class="linklist py-4 text-lg">
            <li>
                <a
                    href="https://www.youtube.com/@thisisnick909"
                    class="inline-block align-center relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve"
                    ><Icon.Video size="20" class="inline-block" /><span
                        class="mx-2">youtube</span
                    ></a
                >
            </li>
            <li>
                <a
                    href="https://x.com/_nick909"
                    class="inline-block align-center relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve"
                    ><Icon.TwitterLogo size="20" class="inline-block" /><span
                        class="mx-2">twitter</span
                    ></a
                >
            </li>
            <li>
                <a
                    href="mailto:thisisnick909@gmail.com"
                    class="inline-block align-center relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve"
                    ><Icon.EnvelopeClosed size="20" class="inline-block" /><span
                        class="mx-2">mail</span
                    ></a
                >
            </li>
            <li>
                <a
                    href="#"
                    class="inline-block align-center relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve"
                    ><Icon.Moon size="20" class="inline-block" /><span
                        class="mx-2 copy-to-clipboard" data-copy="nick909_.">discord</span
                    ></a
                >
            </li>
        </ul>
    </main>
</Layout>
<script>
    // Get all <a> tags with the class "copy-to-clipboard"
    const copyLinks = document.querySelectorAll("span.copy-to-clipboard");

    // Add an event listener to each <a> tag
    copyLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            // Prevent the default link behavior
            event.preventDefault();

            // Get the text to copy from the data attribute
            const textToCopy = link.getAttribute("data-copy");

            // Copy the text to the clipboard
            navigator.clipboard
                .writeText(textToCopy)
                .then(() => {
                    // Change the text of the <a> tag to indicate that the text has been copied
                    link.textContent = "copied to clipboard!";
                    setTimeout(() => {
                        link.textContent = "discord";
                    }, 2000)
                })
                .catch((error) => {
                    console.error("Error copying text to clipboard:", error);
                });
        });
    });
</script>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
    body {
        @apply flex h-screen;
        font-family: "Unbounded", sans-serif;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .linklist {
        list-style: inside;
    }
</style>
