---
import * as Icon from '@astropub/icons'
const props = Astro.props;
---

<footer class="fixed sticky bottom-0 left-0 right-0">
    <div class="py-4">
        <h1 class="font-bold text-center">made in 🇮🇹 with 🩷</h1>
        <p class="text-xs font-bold text-center">(built using <a class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve" href="https://astro.build">astro</a> and <a class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve" href="https://tailwindcss.com/">tailwindcss</a>)</p>
        <p class="text-xs font-bold text-center"><a class="relative py-1.5 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:bg-mauve" href="https://github.com/nick9088/website"><Icon.GitHubLogo size="20" class="inline-block"/><span class="mx-2">source code</span></a></p>
    </div>
</footer>
<style>
    footer {
        border-top: 1px solid;
    }
</style>
